:root {
  --color-deep-green: #388e3c;
  --color-light-green: #4caf50;
  --color-yellow: #ffeb3b;
  --color-light-yellow: #fffde7;
  --color-blue: #1976d2;
  --color-true-blue: #137dc5;
  --color-aquamarine: #00cfc8;
  --color-clay: #c99383;
  --color-cream: #f7e8d3;
  --color-white: #ffffff;
  --color-deep-gray: #424242;
  --color-red-accent: #bf1922;
}
